{%extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %} 
<style>
    body  {
      background-image: url("/static/images/hotel.jpg");
      background-repeat: no-repeat;
	background-size: cover;
    }
    </style>
<div class="container">
	{% if msg|length %}
        <div class="alert alert-success alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p class="text-center">{{msg}}</p>
        </div>
    {% endif %}
    <h2 class="text-center dash-h2" style="color:black;">Welcome to Pearl Continental</h2><br>
    <div class="row dash-row">
        <div class="col-md-6">
            <div class="card" style="width:400px;margin-left: 65px;">
                <div class="card-body" style="background: linear-gradient(to right, rgba(45, 197, 244, 0.8), rgba(87, 81, 219, 0.8), rgba(206, 58, 141, 0.8), rgba(255, 135, 83, 0.8), rgba(255, 214, 97, 0.8) );
                border: 1px solid black;border-radius: 9px;">
                  <h4 class="card-title">Create Booking</h4>
                  <p class="card-text">Create booking for customer</p>
                  <a href="{{url_for('booking')}}" class="btn btn-primary dash-norm-btn">Book</a>
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width:400px;margin-left: 65px;">
                <div class="card-body" style="background: linear-gradient(to right, rgba(45, 197, 244, 0.8), rgba(87, 81, 219, 0.8), rgba(206, 58, 141, 0.8), rgba(255, 135, 83, 0.8), rgba(255, 214, 97, 0.8) );
                border: 1px solid black;border-radius: 9px;">
                  <h4 class="card-title">Guests count</h4>
                  <p class="card-text">View customer count</p>
                  <a href="{{url_for('guestlist')}}" class="btn btn-primary dash-norm-btn">View</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row dash-row">
        <div class="col-md-6">
            <div class="card" style="width:400px;margin-left: 65px;">
                <div class="card-body" style="background: linear-gradient(to right, rgba(45, 197, 244, 0.8), rgba(87, 81, 219, 0.8), rgba(206, 58, 141, 0.8), rgba(255, 135, 83, 0.8), rgba(255, 214, 97, 0.8) );
                border: 1px solid black;border-radius: 9px;">
                  <h4 class="card-title">Rooms Information</h4>
                  <p class="card-text">Check  available rooms</p>
                  <a href="{{url_for('roomsinfo')}}" class="btn btn-primary dash-norm-btn">Check</a>
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width:400px;margin-left: 65px;">
                <div class="card-body" style="background: linear-gradient(to right, rgba(45, 197, 244, 0.8), rgba(87, 81, 219, 0.8), rgba(206, 58, 141, 0.8), rgba(255, 135, 83, 0.8), rgba(255, 214, 97, 0.8) );
                border: 1px solid black;border-radius: 9px;">
                  <h4 class="card-title">Room Facilities</h4>
                  <p class="card-text">Add room facility for guest</p>
                  <a href="{{url_for('roomservice')}}" class="btn btn-primary dash-norm-btn">Create</a>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}
