{%extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %} 
<style>
    body {
             background-image: url("/images/hotel.jpg");
             background-repeat: no-repeat;
	     background-size: cover;
         }
    h2 {
         font-family:book Antiqua;
         color: white;
       }
    </style>
<div class="container">
	{% if msg|length %}
        <div class="alert alert-success alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <p class="text-center">{{msg}}</p>
        </div>
    {% endif %}
    <h2 class="text-center dash-h2" style="color:white;">Welcome to Pearl Continental</h2><b>
    <div class="row dash-row">
        <div class="col-md-6">
            <div class="card" style="width:400px;margin-left: 65px; background: transparent;">
                <div class="card-body" style="background-color: rgba(54,54,54, 0.4);
                backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); 
                border: 1px solid black;border-radius: 9px;">
                  <h4 class="card-title" style="color:white">Create Booking</h4>
                  <p class="card-text" style="color:white">Create booking for customer</p>
                  <a href="{{url_for('booking')}}" class="btn btn-primary dash-norm-btn">Book</a>
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width:400px;margin-left: 65px; background:transparent;">
                <div class="card-body" style="background-color: rgba(54,54,54, 0.4);
                backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); 
                border: 1px solid black;border-radius: 9px;">
                  <h4 class="card-title" style= "color: white">Guests count</h4>
                  <p class="card-text" style ="color: white">View customer count</p>
                  <a href="{{url_for('guestlist')}}" class="btn btn-primary dash-norm-btn">View</a>
                </div>
              </div>
        </div>
    </div>
    <div class="row dash-row">
        <div class="col-md-6">
            <div class="card" style="width:400px;margin-left: 65px; background: transpasrent;">
                <div class="card-body" style="background-color: rgba(54,54,54, 0.4);
                backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); 
                border: 1px solid black;border-radius: 9px;">
                  <h4 class="card-title" style= "color: white">Rooms Information</h4>
                  <p class="card-text" style= "color: white">Check  available rooms</p>
                  <a href="{{url_for('roomsinfo')}}" class="btn btn-primary dash-norm-btn">Check</a>
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width:400px;margin-left: 65px; background: transparent;">
                <div class="card-body" style="background-color: rgba(54,54,54, 0.4);
                backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); 
                border: 1px solid black;border-radius: 9px;">
                  <h4 class="card-title" style= "color:white">Room Facilities</h4>
                  <p class="card-text" style= "color:white">Add room facility for guest</p>
                  <a href="{{url_for('roomservice')}}" class="btn btn-primary dash-norm-btn">Create</a>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}
