{%extends "layout.html" %}
{% block title %}Booking{% endblock %}
{% block content %} 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function calculate()
    {
        var number_of_rooms  = $("#number_of_rooms").val();
        var room_type = $("#room_type").val();
        if(room_type == 1)
        {
            var price = number_of_rooms * 4000;
        }
        if(room_type == 2)
        {
            var price = number_of_rooms * 8000;
        }
        if(room_type == 3)
        {
            var price = number_of_rooms * 9500;
        }
        if(room_type == 4)
        {
            var price = number_of_rooms * 6700;
        }
        $("#price").val('€ '+price);
    }
</script>

