{%extends "layout.html" %}
{% block title %}Rooms Info{% endblock %}
{% block content %}

<div class="container mt-3">
    <h2 class="text-center page-head">Rooms Info</h2>
    <section class="pricing py-5">
      <div class="container">
        <div class="row">
          <!-- Free Tier -->
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Hollywood Twin Room</h5>
                <h6 class="card-price text-center">&euro;4000<span class="period">/room</span></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Air conditioned Room</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Flat Screen TV with DSTV Bouquet</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Lounge chairs</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Tea/Coffee stations</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>2 single bed</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>1 Double Bed</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free WIFI</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Iron & Ironing board</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Towels and toiletries</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Mini-Bar Fridge</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Healthy Breakfast</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Ample Wall Outlets</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Double bed with AC</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Private Spa</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Sauna / Steam Room</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Outdoor Lounging Area</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Air conditioned</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Lunch</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>dinner with 20+ dishes</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>swimming pool</li>
                </ul>
              </div>
            </div>
          </div>
          
